:root {
    --primary-color: #F59A8E;
    --second-color:  #FFD151;
    --third-color: #9BC149;
    --fourth-color: #B4CFC5;
    --fifth-color: #A7ABB4;
    --dark-color: #2D4461;
    --background-color: #c2c2c2;
    --light-font-color: white;

    --title-font: 'Borel';
    --main-font: 'Red Hat Text';
    --quote-font: 'Pacifico';
}

/* this code hides the hamburger button. */
#menu {
    display: none; /* hide hamburger button */
}

.navigation {
    display: flexbox;
    flex-direction: row;
}

.navigation button {
    display: flex;
    flex: 1 1 100%;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    background-color: var(--dark-color);
    justify-content: space-evenly;
    width: 100%;
    border-radius: .5rem;
}

h1 {
    text-align: left;
}

#home {
    background-color: var(--primary-color);
}

#blog {
    background-color: var(--second-color);
}

#reviews {
    background-color: var(--third-color);
}

#about {
    background-color: var(--fourth-color);
}

/* Main content Blog Card */

.blogCard {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
}

.blogPost {
    display: grid;
    padding: 5px;
}

.title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.date {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.reference {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.blurb {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.blogPhoto {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
}

.blogPhoto img {
    display: block;
    width: 90%;
    height: auto;
}

.section2 {
    display: grid;
    grid-template-columns: auto auto;
}

.form {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.quote {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}