* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --primary-color: #F59A8E;
    --second-color:  #FFD151;
    --third-color: #9BC149;
    --fourth-color: #B4CFC5;
    --fifth-color: #A7ABB4;
    --dark-color: #2D4461;
    --background-color: #c2c2c2;
    --light-font-color: white;

    --title-font: 'Borel';
    --main-font: 'Red Hat Text';
    --quote-font: 'Pacifico';
}

html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    display: flex; /* Make body a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-family: var(--main-font); /* Your custom font */
}

body {
    display: block;
    font-family: var(--main-font);
    margin: 1rem;
    min-width: 400px;
    max-width: 1200px;
}

main {
    display: block; /* Ensure it's treated as a block element */
    width: 100%;
    max-width: 1200px; /* Optional: Set a max-width to prevent stretching too much */
    padding: 20px 0 20px 0; /* Optional: Add some padding to the content */
}

.rainbow {
    background-image: linear-gradient(to right, var(--primary-color), var(--second-color), var(--third-color), var(--fourth-color), var(--fifth-color));
    padding: .5rem 1rem 0rem 1rem;
    text-align: center;
    border-radius: .5rem;
  }

h1 {
    font-family: var(--title-font);
    color: var(--dark-color);
    
}

nav {
    display: flex;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation button {
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--light-font-color);
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    cursor: pointer; /* Ensure it looks like a clickable element */
}

.navigation button:hover {
    background-color: var(--background-color);
    color: black;
    font-weight: 700;
    border-radius: 0.5rem;
}

/* 
.navigation button.active {
    background-color: var(--dark-color); 
    color: var(--light-font-color);
    border-radius: .5rem;
} */

.navigation ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--dark-font-color);
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: var(--dark-color);
    padding: 10px 10px 0 0;
}

#menu.open::before {
	content: "❌";
}

.open button {
	display: block;
}

@media (max-width: 650px) {
    .navigation:not(.open) {
        display: none;
    }
}


#home, #blog, #reviews, #about {
    text-align: center;
    margin: 0;
    width: auto;
    height: auto;
    display: inline-block;
}

.navigation.open #home {
    background-color: var(--primary-color);
}

.navigation.open #blog {
    background-color: var(--second-color);
}

.navigation.open #reviews {
    background-color: var(--third-color);
}

.navigation.open #about {
    background-color: var(--fourth-color);
}

#home, #blog, #reviews, #about {
    background-color: transparent; /* By default, no background */
    transition: background-color 0.3s ease; /* Add a transition for smooth effect */
}



.navigation:not(.open) #home,
.navigation:not(.open) #blog,
.navigation:not(.open) #reviews,
.navigation:not(.open) #about {
    background-color: transparent; /* No background when the menu is closed */
}

footer {
    background-color: var(--dark-color);
    color: white;
    border-radius: .5rem;
    padding: .2rem;
    text-align: center;
}

.blogCard {
    border: 2px dashed var(--second-color);
    border-radius: 1rem;
    padding: 15px;
}

.blogPost {
    padding: 15px 25px 15px 15px;
    
}

div .blurb {
    padding: 15px 15px 15px 0;
}

.blogPhoto img {
    display: flex;
    width: 400px;
    height: 400px;
    margin: 5px;
    border-radius: 1rem;
}

.blogPhoto {
    justify-content: center;
    align-items: center;
    align-self: center;
}

label {
    display: block;
    padding: 10px;
}

input[type="checkbox"], input[type="email"] {
    margin: 10px;
}

.form {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    border-radius: 1rem;
    margin: 10px;
}

input[type="email"] {
    height: 44px;
    text-align: left;
    margin: 0;
    width: 90%;
}

.email {
    text-align: left;
    padding: 0 0 0 30px;
}
.quote {
    background-color: var(--third-color);
    padding: 20px;
    border-radius: 1rem;
    text-align: center;
    font-family: var(--quote-font);
    font-size: 1.8rem;
    margin: 10px;
}

.banner {
    background-color: var(--fourth-color);
    padding: 20px;
    border-radius: 1rem;
    margin: 10px 10px 0 10px;
    text-align: center;
    font-size: 1.2rem;
}

input[type='submit'] {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: .5rem;
    margin: 20px;
    background-color: var(--dark-color);
    color: var(--light-font-color);
}