.photoalbum {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    width: 100%;    
}

/* this code hides the hamburger button. */
#menu {
    display: none; /* hide hamburger button */
}

.navigation {
    flex-direction: row;
}

.navigation button {
    display: flex;
    flex: 1 1 100%;
}


.navigation ul {
    display: flex;
}

img {
    width: 200px;
    height: 162px;
}